[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/ndming/gsplat.git
	branch = pgsr
[submodule "submodules/ppisp"]
	path = submodules/ppisp
	url = https://github.com/nv-tlabs/ppisp.git
