plyfile
tqdm
open3d==0.18.0
opencv-python
matplotlib
numpy<2.0.0
scikit-image
scikit-learn
trimesh
tensorboard
einops
kornia
huggingface_hub
timm
submodules/diff-gaussian-rasterization
submodules/nvdiffrast
submodules/render-utils
submodules/simple-knn
submodules/fused-ssim
