# GS-2M main dependencies
matplotlib
numpy<2.0.0
open3d==0.18.0
opencv-python
piexif
plyfile
scikit-image
scikit-learn
tqdm
trimesh
tyro>=0.8.8
tensorboard
torchmetrics[image]
submodules/pycolmap
submodules/gsplat
submodules/nvdiffrast
submodules/render-utils
submodules/fused-ssim
submodules/fused-bilagrid

# Foreground masking with BiRefNet
einops
kornia
huggingface_hub
timm

# Additional toolings (viewer, video, trajectory, post-processing, etc.)
imageio[ffmpeg]
viser
splines
submodules/nerfview

# Compression (for cupy-cuda, see: https://docs.cupy.dev/en/stable/install.html#installing-cupy)
cupy-cuda12x
torchpq
submodules/ppisp
submodules/plas

# Converting 3DGS scenes to USD
msgpack
nvidia-ncore
usd-core
