# GS-2M main dependencies
matplotlib
numpy<2.0.0
open3d==0.18.0
opencv-python
piexif
plyfile
scikit-image
scikit-learn
setuptools==68
tqdm
trimesh
tyro>=0.8.8
tensorboard
torchmetrics[image]
wheel
submodules/pycolmap
submodules/gsplat
submodules/nvdiffrast
submodules/render-utils
submodules/fused-ssim
submodules/fused-bilagrid

# Foreground masking with BiRefNet
einops
kornia
huggingface_hub
timm

# Additional toolings (viewer, video, trajectory, post-processing, etc.)
imageio[ffmpeg]
viser
splines
submodules/nerfview
submodules/ppisp

# Compression (for cupy-cuda, see: https://docs.cupy.dev/en/stable/install.html#installing-cupy)
cupy-cuda12x
torchpq
submodules/plas

# Converting 3DGS scenes to USD
msgpack
nvidia-ncore
usd-core

# Visualization with Blender (may require pip<22.2)
mathutils==3.3.0
--extra-index-url https://download.blender.org/pypi/
bpy==4.0.0
